/* 
html,
body {
	padding: 15px;
} */
/* img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
    visibility: visible;
    opacity: 1;
} */

/* Main CSS */

.center {
  display: block;
  width: 100%;
  text-align: center;
}
.img12 {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline;
  visibility: visible;
  opacity: 1;
}

.grid-wrapper {
  padding: 15px;
  margin-top: -8rem;
  overflow: hidden;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure the image does not overflow the container */
  position: relative; /* Necessary for child positioning */
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
  /* Smooth scaling and opacity */
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* Hover Effects */
.grid-wrapper:hover .img12 {
  opacity: 0.2; /* Dim other images */

}

.grid-wrapper > div:hover .img12 {
  opacity: 1; /* Restore opacity for hovered image */
  transform: scale(1.10); /* Scale the hovered image */
  transition: transform 0.6s ease, opacity 0.3s ease; 
}

@media (max-width: 360px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 361px) and (max-width: 800px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}


