
{% extends "base.html"%}

{% block title %} Contact Now {% endblock  %} 
{% block content %}


<div class="c-header-hp__content-wrapper">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
<div class="c-site-wrapper parent" data-barba="container">
  <div class="c-site-wrapper__move">
    <div class="c-site-wrapper__reverse">
      <div class="c-site-wrapper__overlay-wrapper">
        <div class="c-site-wrapper__overlay"></div>
      </div>


      <div class="c-site-wrapper__inner">
        <main class="app c-site-wrapper__content" data-scroll-container>
        <div class="c-text-highlight" data-scroll-section>
           <div class="o-container">
              <div class="c-text-highlight__wrapper o-grid" data-scroll>
                 <h3 class="c-text-highlight__title"data-component="split-text">from <span class="c-text-highlight__roll" data-text="wow">wow</span> moments<br>to digital <span class="c-text-highlight__roll" data-text="tapes">tapes</span></h3>
                 <div class="c-text-highlight__body" data-scroll data-component="split-paragraph">
                    <p class="c-text-highlight__text" data-ref="split-paragraph.item">Whether you&#039;re a brand or a partner agency, we can help craft your unique story from start to finish or join at any stage in between. Our dedicated teams of creative professionals ensure a bespoke wow effect whenever you need it.</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="c-media u-space-s" data-component="media"  style="--aspect-ratio: 0.5625;"  data-scroll-section>
           <div class="o-container">
              <div class="c-media__wrapper o-reveal" data-scroll data-scroll-offset="0, 0">
                 <div class="c-media__image lazyload" data-bg="../d3tp3928oujmo1.cloudfront.net/bs_v03-copia.jpg"></div>
                 <div class="c-media__videoloop-wrapper">
                    <video class="o-video" loop playsinline muted autoplay data-ref="media.videoLoop" data-src-mobile="https://d3tp3928oujmo1.cloudfront.net/servicesv2.mp4" data-src-desktop="https://d3tp3928oujmo1.cloudfront.net/servicesv2.mp4" type="video/mp4"></video>
                 </div>
              </div>
              <h5 class="c-media__text o-text-reveal" data-ref="media.text" data-component="split-text" data-scroll>awe is unexpected, 
                 but we can wow on-demand
              </h5>
           </div>
        </div>
        <div class="c-services-list u-space-xl" data-scroll-section>
           <div class="c-services-list__switch-theme" data-scroll data-component="switch-theme" data-switch-theme-trigger="0.1"></div>
           <div class="o-container">
              <div class="c-servies-list__wrapper o-grid">
                 <h3 class="c-services-list__title o-text-reveal" data-component="split-text" data-scroll>all-in for<br />
                    brands
                 </h3>
                 <ul class="c-services-list__item-list" role="list">
                    <li class="c-services-list__item" role="listitem">
                       <div class="o-reveal" data-scroll>
                          <h5 class="c-services-list__item-title">pre</h5>
                       </div>
                       <p class="c-services-list__item-text" data-component="split-paragraph" data-scroll>We support you from the brief stage, converting objectives into concepts, scripts, and storyboards. We provide accurate production plans, handling worldwide location scouting, casting, and set design.</p>
                    </li>
                    <li class="c-services-list__item" role="listitem">
                       <div class="o-reveal" data-scroll>
                          <h5 class="c-services-list__item-title">Production</h5>
                       </div>
                       <p class="c-services-list__item-text" data-component="split-paragraph" data-scroll>We channell all of our energy into the shooting phase, selecting teams and gear adapted to the film&#039;s style and format. We experiment with hybrid languages, mixing image ratios, textures, motion design, and AI visual art.</p>
                    </li>
                    <li class="c-services-list__item" role="listitem">
                       <div class="o-reveal" data-scroll>
                          <h5 class="c-services-list__item-title">post</h5>
                       </div>
                       <p class="c-services-list__item-text" data-component="split-paragraph" data-scroll>With an in-house post-production department, we finalize the output for your desired destinations, taking care of the editing, VFX, compositing, color grading, soundtrack composing and sound design.</p>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="c-image-grid u-space-s" data-scroll-section>
           <div class="o-container">
              <div class="o-grid">
                 <div class="c-image-grid__outer-wrapper">
                    <div class="c-image-grid__inner-wrapper">
                       <div class="c-image-grid__image lazyload" data-bg="https://d3tp3928oujmo1.cloudfront.net/service-01.jpg" data-scroll data-scroll-speed="0.5"></div>
                    </div>
                 </div>
                 <div class="c-image-grid__outer-wrapper">
                    <div class="c-image-grid__inner-wrapper">
                       <div class="c-image-grid__image lazyload" data-bg="https://d3tp3928oujmo1.cloudfront.net/service-02.jpg" data-scroll data-scroll-speed="0.5"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="c-titles u-space-s" data-scroll-section>
           <div class="o-container">
              <h3 class="c-titles__title o-text-reveal" data-component="split-text" data-scroll>as and when<br />
                 for partners
              </h3>
              <div class="c-titles__grid o-grid">
                 <ul class="c-titles__list" role="list">
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Creative Strategy</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Content Planning</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Concept &amp; Moodboard</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Script &amp; Storyboard</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Visual Treatments</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Location Scouting</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Casting</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Set Design</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Drone</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Shooting</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Ai Visuals</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Motion Design</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Editing</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Music Composing</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Sound Design</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Vfx &amp; Compositing</span>
                    </li>
                    <li class="c-titles__list-item-wrapper o-reveal" data-scroll data-scroll-offset="10, 0" role="listitem">
                       <span class="c-titles__list-item">Color Grading</span>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="c-banner-services u-space-l" data-scroll-section>
           <div class="c-banner-services__main-wrapper">
              <div class="c-banner-services__image-wrapper">
                 <div class="c-banner-services__image lazyload" data-bg="https://d3tp3928oujmo1.cloudfront.net/service-03b.jpg" data-scroll data-scroll-speed="-2"></div>
              </div>
              <div class="o-container">
                 <div class="c-banner-services__wrapper">
                    <h3 class="c-banner-services__title o-text-reveal" data-component="split-text" data-scroll>tell us about<br />
                       your project
                    </h3>
                    <div class="c-banner-services__dummy-div" data-scroll>
                       <a class="c-banner-services__cta o-cta o-reveal" href="contact.html" aria-label="contact us">
                          contact us
                          <span class="o-button-arrow">
                             <span class="o-icon o-icon--arrow">
                                <svg class="o-icon__svg">
                                   <use xlink:href="#icon-arrow"></use>
                                </svg>
                             </span>
                             <span class="o-icon o-icon--arrow">
                                <svg class="o-icon__svg">
                                   <use xlink:href="#icon-arrow"></use>
                                </svg>
                             </span>
                          </span>
                       </a>
                    </div>
                 </div>
              </div>
           </div>




                   

   
              
  </div>









{% endblock %}

{% block js %}  

{% endblock %}



