
{% extends "base.html"%}

{% block title %} Hello boys {% endblock  %} 
{% block descriptions %}  Hey there this is to check the things{% endblock  %}
{% block content %}


<div class="c-header-hp__content-wrapper">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
<div class="c-site-wrapper parent" data-barba="container">
  <div class="c-site-wrapper__move">
    <div class="c-site-wrapper__reverse">
      <div class="c-site-wrapper__overlay-wrapper">
        <div class="c-site-wrapper__overlay"></div>
      </div>

      <div class="c-site-wrapper__inner">
        <main class="app c-site-wrapper__content" data-scroll-container>
          <div class="c-header-booking" data-scroll-section>
            <div class="o-container" data-scroll>
              <h1 class="c-header-contact__title ">
                Book Appointment
              </h1>
            </div>

            <div class="iframe-container">
              <h1 class="overlay-text" id="overlay"></h1>
              <iframe 
                src="https://cal.com/crypto-buddy-yodvtm/doctor" 
                id="doctorIframe" 
                scrolling="yes"
                onmouseover="enableIframeScroll()" 
                onmouseout="disableIframeScroll()">
              </iframe>
            </div>
            

            


                   

   
              
  </div>









{% endblock %}

{% block js %}  
<script>

</script>
{% endblock %}



