

{% extends "base.html"%}

{% block title %} Dr Jamal Akhtar Azmi | MCh in Urology and MS GEN Surgery {% endblock  %} 
{% block description %}  
<meta name="description" content="ABROMED HealthCare - proudly made in India. We specialize in high-quality nutraceutical products Backed by science  with clean and safe ingredients.">
{% endblock  %}
{% block keywords %}  
  <meta name="keywords" content="ABROMED HealthCare, nutraceutical products, caring for health, pharmaceutical company, healthcare solutions, high-quality healthcare, patient care, innovative health solutions, wellness products, science-backed nutraceuticals, life-enhancing products, health management, trusted healthcare, quality pharmaceuticals, healthcare innovation, wellness and vitality, preventive healthcare, natural health products, healthcare research, health-focused solutions, pharmaceutical services, patient-centered care, health optimization, holistic health, bio-pharmaceuticals">
{% endblock  %}
{% block Graph %}  

 <!-- Open Graph Meta Tags -->
 <meta property="og:title" content="Abromed HealthCare - Your Health Deserves the Best">
 <meta property="og:description" content="ABROMED HealthCare - proudly made in India. We specialize in high-quality nutraceutical products Backed by science  with clean and safe ingredients.">
 <meta property="og:image" content="https://abromedhealthcare.in/assets/images/logo/logo-01.png">
 <meta property="og:url" content="https://www.abromedhealthcare.in/">
 <meta property="og:type" content="website">
 <meta property="og:site_name" content="Abromed Healthcare">
 <meta property="og:locale" content="en_US">

{% endblock  %}

{% block Twitter %} 

 <!-- Twitter Card Meta Tags -->
 <meta name="twitter:card" content="summary_large_image">
 <meta name="twitter:title" content="Abromed HealthCare - Your Health Deserves the Best">
 <meta name="twitter:description" content="ABROMED HealthCare - proudly made in India. We specialize in high-quality nutraceutical products Backed by science  with clean & safe ingredients.">
 <meta name="twitter:image" content="https://abromedhealthcare.in/assets/images/logo/logo-01.png">

{% endblock  %}


{% block Canonical %} 
<link rel="canonical" href="https://www.abromedhealthcare.in/">
{% endblock  %}

{% block content %}



<div class="c-intro__card-item">
    <div class="c-intro__card-inner-item">
      <div class="c-intro__image c-intro__image--desktop" data-bg="/static/imgs/Home/front-page-img.png" data-ref="intro.image"></div>
      <div class="c-intro__image c-intro__image--mobile" data-bg="/static/imgs/Home/front-page-img.png" data-ref="intro.image"></div>

      <div class="c-header-hp__content-wrapper">
        <div class="o-container">
          <div class="c-header-hp__content" data-component="text">
            <h1 class="c-header-hp__title" data-ref="text.item" style='-webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: black;'>Our Mission<br> Care</h1>
         <!--     <p class="c-header-hp__subtitle" data-ref="text.item"><i  style="background-color:#08080897" >"Believers are like one body; if one part is hurt, the whole body feels it."</i></p> -->

          <form-app></form-app>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="c-site-wrapper" data-barba="container">
  <div class="c-site-wrapper__move">
    <div class="c-site-wrapper__reverse">
      <div class="c-site-wrapper__overlay-wrapper">
        <div class="c-site-wrapper__overlay"></div>
      </div>

      <div class="c-site-wrapper__inner">
        <main class="app c-site-wrapper__content" data-scroll-container>
          
<div class="c-header-hp" data-component="header-hp" data-scroll-section>
<div class="c-header-hp__wrapper">
<div class="c-header-hp__media" data-scroll data-scroll-speed="-3">
  <div class="c-header-hp__image-desktop lazyload" data-bg="/static/imgs/Home/front-page-img.png"></div>
  <div class="c-header-hp__image-mobile lazyload" data-bg="/static/imgs/Home/front-page-img.png"></div>
  <video class="c-header-hp__video" loop playsinline muted autoplay data-ref="header-hp.video" type="video/mp4" data-src-desktop="/static/vid/DNA.mp4" data-src-mobile="/static/vid/DNA.mp4"></video>
</div>

<div class="c-header-hp__content-wrapper">
  <div class="o-container">
    <div class="c-header-hp__content">
      <h1 class="c-header-hp__title" style='-webkit-text-stroke-width: 0.3px;
      -webkit-text-stroke-color: black;'>
        <div>Our Mission</div>
        <div></div>
        <div><span>
          <div data-ref="header-hp.word"> Care</div>
                          <div data-ref="header-hp.word">Compassion</div>
                          <div data-ref="header-hp.word">Healing</div>
                          <div data-ref="header-hp.word">Trust</div>
                          <div data-ref="header-hp.word">Excellence</div>
                          <div data-ref="header-hp.word">Wellness</div>
                          <div data-ref="header-hp.word">Empathy</div>
        </span></div>
      </h1>



      <!-- Custom Web Component -->
      <div style="display:none" class="contact_submit-wrapper">
        <div class="contact_submit-lottie is-desktop" data-w-id="05b1fc05-072a-0c98-8b4c-e106aefc4450"
             data-animation-type="lottie"
             data-src="https://cdn.prod.website-files.com/657629e1b082a84e377fbd6e/6578dbbf6f7304828fbe9cc9_contact_submit-arrow_landingpage_01.json"
             data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
             data-renderer="svg" data-default-duration="2.2342890610251507" data-duration="0"></div>
        <div class="contact_submit-lottie is-mobile-landscape"
             data-w-id="05b1fc05-072a-0c98-8b4c-e106aefc4451" data-animation-type="lottie"
             data-src="https://cdn.prod.website-files.com/657629e1b082a84e377fbd6e/6579aff281bea7aa9b772616_contact_submit-arrow_mobile_01.json"
             data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
             data-renderer="svg" data-default-duration="2.2342890610251507" data-duration="0"></div>
        <h1 style="display:none" class="contact_submit-header animate-success">Success.</h1>
        <div style="width:100%;height:0%" class="contact_submit-background"></div>
    </div>
    

    <div class="contact_form-wrapper">


        <div class="contact_form-block w-form">
            <form id="contact" name="email-form" class="contact_form">
                <div style="-webkit-transform:translate3d(0, 9.3rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 9.3rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 9.3rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 9.3rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="form_field_main-wrapper">
                    <div style="height:13rem" class="form_title">
                        <div class="form_top">
                            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                class="form_title-heading text-size-large text-weight-medium">
                                Get in
                                touch</div>
                            <div class="form_number-wrapper">
                                <div class="form_number-list">
                                    <div class="form_number is-moving">1</div>
                                    <div class="form_number is-moving">2</div>
                                    <div class="form_number is-moving">3</div>
                                </div>
                                <div class="form_number">/</div>
                                <div class="form_number">3</div>
                            </div>
                        </div>
                        <div style="opacity:1" class="form_title-text">Dr Jamal Ajmi Team Member will typically read your message within 24h.</div>
                    </div>
                    <div class="form_field-wrapper"><input
                            class="form_field is-email w-input" autofocus="true"
                            maxlength="256" name="email" data-name="Email"
                            placeholder="Work email" type="email" id="email" />
                        <div style="width:5rem"
                            class="form_button-placeholder is-email"></div>
                    </div>
                    <div class="form_field-wrapper"><input
                            class="form_field is-name w-input" maxlength="256"
                            name="name" data-name="Name"
                            style="height:0rem;opacity:0;display:none"
                            placeholder="Full name" type="text" id="name"
                            required="" />
                        <div style="width:5rem"
                            class="form_button-placeholder is-name"></div>
                    </div><textarea class="form_field is-input w-input"
                        maxlength="5000" name="message" data-name="Message"
                        style="opacity:0;width:100%;height:0rem"
                        placeholder="Add message" id="message"></textarea>
                </div>
                <div class="form_bottom"><label style="width:0px;opacity:0"
                        class="w-checkbox form_checkbox-field">
                        <div
                            class="w-checkbox-input w-checkbox-input--inputType-custom checkbox">
                        </div>
                        <input type="checkbox" id="checkbox" name="checkbox"
                            data-name="Checkbox" required=""
                            style="opacity:0;position:absolute;z-index:-1" /><span
                            style="opacity:0;-webkit-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="checkbox-label w-form-label"
                            for="checkbox">By sending this message
                            you accept Aker’s <a href="#"
                                class="form_link">Terms &amp;
                                Privacy</a>.</span>
                    </label>
                    <div class="form_button-placeholder"></div>
                </div>
                <div class="form_submit-button-wrapper is-active">
                    <div class="form_submit-button-click1"></div>
                    <div class="form_submit-button-click2"></div>

                    <div style="opacity:0;display:none"
                        class="form_submit-text">Send</div>

                        
                <div class="form_submit-lottie" 
                data-animation-type="lottie"
                data-src="https://cdn.prod.website-files.com/657629e1b082a84e377fbd6e/657629e1b082a84e377fbdee_Flow%201%20(2).json"
                data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                data-renderer="svg" data-duration="0"></div><input type="submit"
                data-wait="Please wait..." class="form_submit-button w-button" value="Submit" />
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>

        </div>
    </div>
    <div class="contact_states">
        <div data-w-id="05b1fc05-072a-0c98-8b4c-e106aefc448c"
            class="contact_click-1"></div>
        <div data-w-id="05b1fc05-072a-0c98-8b4c-e106aefc448d"
            class="contact_click-2"></div>
        <div data-w-id="05b1fc05-072a-0c98-8b4c-e106aefc448e"
            class="contact_submit"></div>
    </div>





  


    </div>


    
  </div>
</div>

<div class="c-header-hp__scroll">
  <div class="c-header-hp__scroll-div"></div>
</div>
</div>
</div>


<div class="c-text-highlight u-space-xl" data-scroll-section>
<div class="o-container">
<div class="c-text-highlight__wrapper o-grid">
  <h3 class="c-text-highlight__title o-text-reveal" data-scroll data-component="split-text">Dr. Jamal Azmi</h3>

  <div class="c-text-highlight__body" data-scroll data-component="split-paragraph">
    <p class="c-text-highlight__text" data-ref="split-paragraph.item">Dr. Jamal Akhtar Azmi is a skilled urologist with an MBBS from NDMVP Samaj Medical College, Nasik, and an MCh in Urology from Bombay Hospital, Mumbai. With over 9 years of experience, he has worked at esteemed hospitals such as Prince Ali Khan, Saifee, Masina, and Fauziya Hospitals. </p>
              <a class="c-text-highlight__highlight o-cta o-reveal" href="about.html" aria-label="change page">Book a Visit<span class="o-button-arrow">  <span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
<span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
</span></a>
          </div>
</div>
</div>
</div>


<div class="c-media u-space-s" data-component="media"  style="--aspect-ratio: 0.421875;"  data-scroll-section>
<div class="o-container">
<div class="c-media__wrapper o-reveal" data-scroll data-scroll-offset="0, 0">
          <div class="c-media__video-wrapper">
      <video class="video-js" data-src="https://d17azs2fqvxy2n.cloudfront.net/Client-Jamal/Dr-intro.mp4" data-ref="media.video" poster="/static/imgs/hindustantimes.webp" controls preload="auto"></video>
    </div>
  
  <div class="c-media__image lazyload" data-bg="/static/imgs/hindustantimes.webp"></div> 

          <div class="c-media__videoloop-wrapper">
      <video class="o-video" loop playsinline muted autoplay data-ref="media.videoLoop" data-src-mobile="https://d17azs2fqvxy2n.cloudfront.net/Client-Jamal/Dr-intro.mp4" data-src-desktop="https://d17azs2fqvxy2n.cloudfront.net/Client-Jamal/Dr-intro.mp4" type="video/mp4"></video>
    </div>
      </div>

      <div class="c-media__cta-wrapper" data-scroll-speed="-2" data-scroll-offset="0, 0" data-scroll>
    <div class="c-media__cta">
      <span class="c-media__cta-bullet"></span>
      <h4 class="c-media__cta-text">Play Now</h4>
    </div>
  </div>



  
  </div>

  
</div>







<div class="c-works-cta u-space-xl" data-scroll-section>




<div class="c-works-cta__switch-theme" data-scroll data-component="switch-theme" data-switch-theme-trigger="0.1"></div>



<div class="o-container" data-component="works-cta">
<div class="c-works-cta__heading o-grid">
  <div class="c-works-cta__title-wrapper" data-scroll>
    <h2 class="c-works-cta__title o-text-reveal" data-component="split-text">Our Expertise, Your Advantage</h2>
  </div>

<!--  <p class="c-works-cta__subtitle o-reveal" data-scroll>
    One Mission<span class="changingWord"></span> 🏴
  </p> -->
  

 
</div>

<div class="c-works-cta__item-list" role="list">
          <a class="c-works-cta__item o-reveal" href="/templates/work/i-could-but-i-wont" data-component="overlay" data-scroll role="listitem">
      <div class="c-works-cta__item-spacer"></div>

      <div class="c-works-cta__item-media" data-scroll data-scroll-speed="1">
        <video class="c-works-cta__item-video o-video" loop playsinline muted autoplay data-ref="works-cta.video" type="video/mp4" src="/static/vid/kidney.mp4"></video>
        <div class="c-works-cta__item-image lazyload" data-bg="/static/imgs/Home/kidn.png"></div>
      </div>

      <div class="c-works-cta__item-info">
        <div class="c-works-cta__info-title">Kidney Stone</div>
        <ul class="c-works-cta__info-tags o-tag-list" role="list">
                          <li role="listitem">Kidney stones are solid crystal masses.</li>
                          <li role="listitem">They form in the kidneys.</li>
                      </ul>
      </div>
    </a>
          <a class="c-works-cta__item o-reveal" href="work/come-find-your-virginia.html" data-component="overlay" data-scroll role="listitem">
      <div class="c-works-cta__item-spacer"></div>

      <div class="c-works-cta__item-media" data-scroll data-scroll-speed="1">
        <video class="c-works-cta__item-video o-video" loop playsinline muted autoplay data-ref="works-cta.video" type="video/mp4" src="#"></video>
        <div class="c-works-cta__item-image lazyload" data-bg="/static/imgs/Home/ur.jpg"></div>
      </div>

      <div class="c-works-cta__item-info">
        <div class="c-works-cta__info-title">Endo-Urology</div>
        <ul class="c-works-cta__info-tags o-tag-list" role="list">
                          <li role="listitem">With</li>
                          <li role="listitem">Us</li>
                      </ul>
      </div>
    </a>
          <a class="c-works-cta__item o-reveal" href="work/shipping-served-easily.html" data-component="overlay" data-scroll role="listitem">
      <div class="c-works-cta__item-spacer"></div>

      <div class="c-works-cta__item-media" data-scroll data-scroll-speed="1">
        <video class="c-works-cta__item-video o-video" loop playsinline muted autoplay data-ref="works-cta.video" type="video/mp4" src="https://d3tp3928oujmo1.cloudfront.net/enel_low.mp4"></video>
        <div class="c-works-cta__item-image lazyload" data-bg="/static/imgs/Home/ur.jpg"></div>
      </div>

      <div class="c-works-cta__item-info">
        <div class="c-works-cta__info-title">Let's Build a new Us</div>
        <ul class="c-works-cta__info-tags o-tag-list" role="list">
                          <li role="listitem">News &amp; People</li>
                          <li role="listitem">Support</li>
                      </ul>
      </div>
    </a>
      </div>

<div style="color:white" class="c-works-cta__cta" data-scroll>
  <a class="o-cta o-reveal"tys href="/view" aria-label="explore more wow stories">explore more <span class="o-button-arrow">  <span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
<span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
</span></a>
</div>

<br> <br> <br> <br>
</div>



<div class="section_stats">
    <div class="padding-global">
        <div class="intro_text">
            <div class="text-size-small text-color-grey">Key metrics</div>
            <h2 animate="typewriter" class="heading-style-h2">In the numbers</h2>
          </div>
          <br><br>
      <div class="intro_component">
        <div class="divider_horizontal"></div>
      </div>
      <div class="stats_component">
        <div class="stats_first">
            <div class="stats_container is-1">
                <div class="stats_paragraph-wrapper">
                <div class="stats_number animate-numbers" data-value="9">0+</div>
                <p class="text-size-regular text-style-muted">Experience in the Field.</p>
            </div>
          </div>
  
          <div class="stats_container">
            <div class="stats_number animate-numbers" data-value="25000">0+</div>
            <div class="stats_paragraph-wrapper is-2">
              <p class="text-size-regular text-style-muted">Patients with Radiant Smiles</p>
            </div>
            <div class="divider_horizontal is-absolute-bottom is-grey100"></div>
          </div>
          <div class="divider_vertical grey-100 hide-mobile-landscape"></div>
        </div>

        <div class="stats_second">
          <div class="stats_container is-2">
            <div class="divider_horizontal is-absolute-bottom is-grey100"></div>
            <div class="stats_number animate-numbers" data-value="5000">0+</div>
            <div class="stats_paragraph-wrapper is-maxwidth-25rem">
              <p class="text-size-regular text-style-muted">Successful Surgical Procedures</p>
            </div>
          </div>

          <div class="stats_container is-4">
            <div class="stats_number animate-numbers" data-value="10">0</div>
            <div class="stats_paragraph-wrapper">
              <p class="text-size-regular text-style-muted">Visited the Hospital for Comprehensive Care </p>
            </div>
            <div class="divider_horizontal is-absolute-bottom is-grey100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider_horizontal is-absolute-bottom is-grey100"></div>

  <!-- Include map.html -->
 <!--  <iframe src="/map"  sandbox="allow-same-origin allow-scripts allow-forms" scroll="yes" style="overflow: hidden;border: none; width: 100vw; height: 110vh;" data-scroll-container></iframe> -->

 <div>
  
 </div>

 <section class="section_home-work">

  <div class="padding-global background-cover">
    <div class="padding-section-large">
      <div class="intro_component">
        <div class="intro_text">
          <div class="text-size-small text-color-white">Three core areas</div>
          <h2 animate="typewriter" class="heading-style-h2">Our work</h2>
      </div>
      </div>
      <div class="spacer-medium"></div>
      {% include "review.html" %}
    </div>
  </div>

  <section class="process">
    <div class="process__container">
      <div class="process__intro intro">
        <h2 class="process__title title">Frequently Asked Questions </h2>
        <div class="text-size-small text-color-grey">Common Queries Answered </div>
      </div>
      <div class="process__accordions">
        <ul class="accordions__list">
          <li class="accordions__item">
            <button class="accordions__control" aria-expanded="false">
              <span class="accordions__number">01</span>
              <span class="accordions__title">Consultation</span>
              <span class="accordions__icon"></span>
            </button>
            <div class="accordions__content text" aria-hidden="true">
              <p class='fnq-p'>During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.</p>
            </div>
          </li>
          <li class="accordions__item">
            <button class="accordions__control" aria-expanded="false">
              <span class="accordions__number">02</span>
              <span class="accordions__title">Research and Strategy Development</span>
              <span class="accordions__icon"></span>
            </button>
            <div class="accordions__content text" aria-hidden="true">
              <p class='fnq-p'>In today's marketplace, R&D strategy helps a business take a leading position and keeps it competitive, agile, adaptable, and profitable. The research and development concept is one of the earliest stages in creating a business strategy, but the commercial success of the entire project depends on its successful introduction.</p>
            </div>
          </li>
          <li class="accordions__item">
                      <button class="accordions__control" aria-expanded="false">
                          <span class="accordions__number">03</span>
                          <span class="accordions__title">Implementation</span>
                          <span class="accordions__icon"></span>
                      </button>
                      <div class="accordions__content text" aria-hidden="true">
                        <p class='fnq-p'>Strategy implementation is the process of turning your strategic plan into action. Whether you're executing a new marketing plan to increase sales or introducing a new work management software to increase efficiency—your plan is only as valuable as the implementation.</p>  
                      </div>
                  </li>
        </ul>
      </div>
    </div>
  </section>

  


</section>


<div class="section_home-work">
    <div class="padding-global">
        <div class="padding-section-large">
            <div class="intro_component">
                <div class="divider_horizontal"></div>
                <div class="intro_text">
                    <div class="text-size-small text-color-grey">Three core areas</div>
                    <h2 animate="typewriter" class="heading-style-h2">Our work</h2>
                </div>
            </div>
            <div class="spacer-medium"></div>
            <div class="home-work_component">
                <div id="w-node-_87df293a-f080-52b4-e233-05ea9bdc9c1c-f04283df" class="home-work_block"><a
                        id="grain-green" data-w-id="38c283c7-052e-7bb6-6771-aae5acc63cef"
                        href="/our-work#the-fundamentals"
                        class="home-work_thumb is-tall background-color-green w-inline-block">
                        <div data-is-ix2-target="1" class="home-work_lottie"
                            data-w-id="c6d4731f-dfbc-81a2-4b70-2b011994cee6" data-animation-type="lottie"
                            data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/6568c30ad0d71b365a0825a2_The%20Foundation%20V1.json"
                            data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg"
                            data-default-duration="4.04" data-duration="0" data-ix2-initial-state="20">
                        </div>
                        <div data-poster-url="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-poster-00001.jpg"
                            data-video-urls="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-transcode.mp4,https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-transcode.webm"
                            data-autoplay="true" data-loop="true" data-wf-ignore="true" style="opacity:0"
                            class="home-work_background-video w-background-video w-background-video-atom">
                            <video id="2276bfe1-fa33-53d0-6cda-645cdf70e4a7-video" autoplay="" loop=""
                                style="background-image:url(&quot;https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-poster-00001.jpg&quot;)"
                                muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-transcode.mp4"
                                    data-wf-ignore="true" />
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656de000fad87bfb0f77cd9b_City Buildings Road-transcode.webm"
                                    data-wf-ignore="true" />
                            </video></div>
                        <div class="home-work_grain is-grain"></div>
                    </a>
                    <div class="home-work_bottom"><a
                            id="w-node-_3cc2cd98-e340-ee49-f0b8-a9f829289dd2-f04283df"
                            href="/our-work#the-fundamentals"
                            class="home-work_bottom-heading w-inline-block">
                            <div class="button">
                                <div class="button_text-wrapper">
                                    <div class="button_text">1.1</div>
                                    <div class="button_text-background"></div>
                                    <div class="button_text-expander"></div>
                                </div>
                                <div class="button_distancer"></div>
                                <div class="button_arrow-wrapper">
                                    <div data-is-ix2-target="1" class="button_arrow"
                                        data-w-id="83cc4216-4036-c7fa-3821-b7caa33f3810"
                                        data-animation-type="lottie"
                                        data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656f28f33b3152a2b4177036_Flow%201%20(2).json"
                                        data-loop="0" data-direction="1" data-autoplay="0"
                                        data-renderer="canvas" data-default-duration="0.6"
                                        data-duration="0"></div>
                                </div>
                            </div>
                            <h3 class="heading-style-h4 is-no-shrink">The Fundamentals</h3>
                        </a>
                        <div id="w-node-ae18799b-8cc5-16b0-a9a2-163602391184-f04283df"
                            class="home-work_bottom-tags stagger-wrapper">
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Brand Identity</div>
                            </div>
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Feedback</div>
                            </div>
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Repositioning</div>
                            </div>
                        </div>
                        <div id="w-node-_40e5a62a-decb-d8a1-1a2b-3eea08f0d904-f04283df"
                            class="home-work_bottom-text">
                            <p class="text-size-regular text-color-grey">Re-imagining residential
                                communities through feedback and thoughtful programming.</p>
                        </div>
                    </div>
                    <div class="divider_horizontal"></div>
                </div>
                <div id="w-node-_912567aa-5a0a-1e90-e1fb-94fd20a0ff65-f04283df" class="home-work_block"><a
                        id="grain-blue" data-w-id="912567aa-5a0a-1e90-e1fb-94fd20a0ff66"
                        href="/our-work#the-creative"
                        class="home-work_thumb background-color-blue w-inline-block">
                        <div data-is-ix2-target="1" class="home-work_lottie"
                            data-w-id="1b0db18a-5a01-a059-2c49-dba580d8635f" data-animation-type="lottie"
                            data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/6568c48914edd2fabaa18fc1_The%20Creative%20V2.json"
                            data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg"
                            data-default-duration="6.12" data-duration="0" data-ix2-initial-state="20">
                        </div>
                        <div data-poster-url="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-poster-00001.jpg"
                            data-video-urls="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-transcode.mp4,https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-transcode.webm"
                            data-autoplay="true" data-loop="true" data-wf-ignore="true" style="opacity:0"
                            class="home-work_background-video w-background-video w-background-video-atom">
                            <video id="05424c5f-7be3-8f28-b843-2a6158f53f3c-video" autoplay="" loop=""
                                style="background-image:url(&quot;https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-poster-00001.jpg&quot;)"
                                muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-transcode.mp4"
                                    data-wf-ignore="true" />
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656dd97f9b2cd47d22b3f792_Architects Sketch Paper Office (1)-transcode.webm"
                                    data-wf-ignore="true" />
                            </video></div>
                        <div class="home-work_grain is-grain"></div>
                    </a>
                    <div class="home-work_bottom is-3-rows"><a href="/our-work#the-creative"
                            class="home-work_bottom-heading w-inline-block">
                            <div class="button">
                                <div class="button_text-wrapper">
                                    <div class="button_text">1.2</div>
                                    <div class="button_text-background"></div>
                                    <div class="button_text-expander"></div>
                                </div>
                                <div class="button_distancer"></div>
                                <div class="button_arrow-wrapper">
                                    <div data-is-ix2-target="1" class="button_arrow"
                                        data-w-id="2c18244a-319f-499b-5f68-0ce9145e5419"
                                        data-animation-type="lottie"
                                        data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656f28f33b3152a2b4177036_Flow%201%20(2).json"
                                        data-loop="0" data-direction="1" data-autoplay="0"
                                        data-renderer="canvas" data-default-duration="0.6"
                                        data-duration="0"></div>
                                </div>
                            </div>
                            <h3 class="heading-style-h4 is-no-shrink">The Creative</h3>
                        </a>
                        <div id="w-node-_912567aa-5a0a-1e90-e1fb-94fd20a0ff6f-f04283df"
                            class="home-work_bottom-tags is-left-aligned stagger-wrapper">
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Development</div>
                            </div>
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Renovations</div>
                            </div>
                        </div>
                        <div id="w-node-_912567aa-5a0a-1e90-e1fb-94fd20a0ff79-f04283df"
                            class="home-work_bottom-text">
                            <p class="text-size-regular text-color-grey">Seizing opportunities to develop
                                new spaces or revitalize existing ones.</p>
                        </div>
                    </div>
                    <div class="home-work-top"></div>
                    <div class="divider_horizontal"></div>
                </div>
                <div id="w-node-_0256c1a9-cf4c-39c1-4f24-67fe6bd34290-f04283df" class="home-work_block"><a
                        id="grain-orange" data-w-id="0256c1a9-cf4c-39c1-4f24-67fe6bd34291"
                        href="/our-work#the-collective"
                        class="home-work_thumb background-color-orange w-inline-block">
                        <div class="home-work_lottie is-collective"
                            data-w-id="c600b99e-e626-3310-229b-9c4aa486758b" data-animation-type="lottie"
                            data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/659a9563ac96291317cb29ca_The%20collective%20V1_White.json"
                            data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                            data-renderer="svg" data-default-duration="4.04" data-duration="0"></div>
                        <div data-poster-url="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-poster-00001.jpg"
                            data-video-urls="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-transcode.mp4,https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-transcode.webm"
                            data-autoplay="true" data-loop="true" data-wf-ignore="true" style="opacity:0"
                            class="home-work_background-video w-background-video w-background-video-atom">
                            <video id="4753df2f-8645-6e13-40c7-a89cb170e081-video" autoplay="" loop=""
                                style="background-image:url(&quot;https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-poster-00001.jpg&quot;)"
                                muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-transcode.mp4"
                                    data-wf-ignore="true" />
                                <source
                                    src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656ddce38b86e53b5d8f3bdd_Boutique Owner by Erwin de Boer-transcode.webm"
                                    data-wf-ignore="true" />
                            </video></div>
                        <div class="home-work_grain is-grain"></div>
                    </a>
                    <div class="home-work_bottom"><a href="/our-work#the-collective"
                            class="home-work_bottom-heading w-inline-block">
                            <div class="button">
                                <div class="button_text-wrapper">
                                    <div class="button_text">1.3</div>
                                    <div class="button_text-background"></div>
                                    <div class="button_text-expander"></div>
                                </div>
                                <div class="button_distancer"></div>
                                <div class="button_arrow-wrapper">
                                    <div data-is-ix2-target="1" class="button_arrow"
                                        data-w-id="1d8c1d69-f9f1-f127-22d5-20b9466654d9"
                                        data-animation-type="lottie"
                                        data-src="https://cdn.prod.website-files.com/653129eb7313df59f042834d/656f28f33b3152a2b4177036_Flow%201%20(2).json"
                                        data-loop="0" data-direction="1" data-autoplay="0"
                                        data-renderer="canvas" data-default-duration="0.6"
                                        data-duration="0"></div>
                                </div>
                            </div>
                            <h3 class="heading-style-h4 is-no-shrink">The Collective</h3>
                        </a>
                        <div id="w-node-_0256c1a9-cf4c-39c1-4f24-67fe6bd3429a-f04283df"
                            class="home-work_bottom-tags is-left-aligned stagger-wrapper">
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Local businesses</div>
                            </div>
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Marketing</div>
                            </div>
                            <div class="tag_component stagger-fade">
                                <div class="text-size-tiny">Community Development</div>
                            </div>
                        </div>
                        <div id="w-node-_0256c1a9-cf4c-39c1-4f24-67fe6bd342a4-f04283df"
                            class="home-work_bottom-text">
                            <p class="text-size-regular text-color-grey">Connecting people with local
                                businesses to foster strong communities.</p>
                        </div>
                    </div>
                    <div class="divider_horizontal"></div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>





<div class="c-banner-hp u-space-l" data-scroll-section>
<div class="c-banner-hp__main-wrapper">
<div class="c-banner-hp__gallery" data-component="gallery-banner-hp">

          <div class="c-banner-hp__image-wrapper">
      <div style="opacity: 0.35;" class="c-banner-hp__image lazyload" data-bg="/static/imgs/operation.webp" data-scroll data-scroll-speed="-2"></div>
    </div>


          <div class="c-banner-hp__image-wrapper">
      <div style="opacity: 0.4;" class="c-banner-hp__image lazyload" data-bg="/static/imgs/hindustantimes.webp" data-scroll data-scroll-speed="-2"></div>
    </div>


    <div class="c-banner-hp__image-wrapper">
      <div style="opacity: 0.4;" class="c-banner-hp__image lazyload" data-bg="/static/imgs/opera.webp" data-scroll data-scroll-speed="-2"></div>
    </div>

    <div class="c-banner-hp__image-wrapper">
      <div style="opacity: 0.4;" class="c-banner-hp__image lazyload" data-bg="/static/imgs/port.webp" data-scroll data-scroll-speed="-2"></div>
    </div>
 

          <div class="c-banner-hp__image-wrapper">
      <div style="opacity: 0.35;color:rgba(0, 0, 0, 0.799)" class="c-banner-hp__image lazyload" data-bg="/static/imgs/dna.webp" data-scroll data-scroll-speed="-2"></div>
    </div>
      </div>





<div class="o-container">

  <div class="c-banner-hp__wrapper">
    <div class="c-banner-hp__left">

      
      <h2 class="c-banner-hp__title o-text-reveal set" data-scroll data-component="split-text">Know <br> More</h2>
      <a class="c-banner-hp__cta o-cta o-reveal set" data-scroll href="service.html" aria-label="discover our workflow">Click Now<span class="o-button-arrow">  <span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
<span class="o-icon o-icon--arrow">
<svg class="o-icon__svg">
  <use xlink:href="#icon-arrow"></use>
</svg>
</span>
</span></a>
    </div>


  </div>
</div>
</div>

</div>






{% endblock %}




{% block js %}  



<script>

  const track = document.querySelector("#track");
  const logoSlide = track.querySelector(".logo-slide");

  // Clone the logo slide multiple times
  for (let i = 0; i < 4; i++) {
    track.appendChild(logoSlide.cloneNode(true));
  }

  let scrollPosition = 0;
  const speed = 1;
  let isPlaying = true;
  let animationFrameId = null;

  function scroll() {
    if (!isPlaying) return; // Stop if paused

    scrollPosition -= speed;
    const slideWidth = logoSlide.offsetWidth;
    if (Math.abs(scrollPosition) >= slideWidth) {
      scrollPosition += slideWidth;
    }
    track.style.transform = `translateX(${scrollPosition}px)`;
    animationFrameId = requestAnimationFrame(scroll);
  }

  // Updated hover handlers
  track.addEventListener("mouseenter", () => {
    isPlaying = false;
    if (animationFrameId) {
      cancelAnimationFrame(animationFrameId);
    }
  });

  track.addEventListener("mouseleave", () => {
    isPlaying = true;
    scroll(); // Restart the animation
  });

  // Start the animation
  scroll();
  
    </script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const counters = document.querySelectorAll(".stats_number");
  
      const animateCounter = (element, target, speed) => {
        let current = 0;
        const step = target / speed;
  
        const update = () => {
          current += step;
          if (current >= target) {
            element.textContent = `${Math.floor(target).toLocaleString()}+`;
          } else {
            element.textContent = `${Math.floor(current).toLocaleString()}+`;
            requestAnimationFrame(update);
          }
        };
        update();
      };
  
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const target = parseInt(entry.target.dataset.value, 10);
            animateCounter(entry.target, target, 200);
            observer.unobserve(entry.target);
          }
        });
      });
  
      counters.forEach((counter) => observer.observe(counter));
    });
  </script>
  
  <script>  


    // ==============================================================
    // Button – Open in new tab attribute
    // ==============================================================

    $('[newwindow="true"]').click(function (event) {
        event.preventDefault();
        var url = $(this).attr(‘href’);
        window.open(url, ‘_blank’);
    });



    // =============================================================
    // GSAP – Stagger Fade
    // =============================================================


    function animateStaggerElements(containerSelector, targetSelector, animationProps) {
        $(containerSelector).each(function () {
            gsap.fromTo($(this).find(targetSelector),
                animationProps.from,
                {
                    ...animationProps.to,
                    scrollTrigger: {
                        trigger: this,
                        ...animationProps.to.scrollTrigger,
                        toggleActions: 'play reset play reset'
                    }
                }
            );
        });
    }


    // Animate .stagger-expand elements
    animateStaggerElements('.stagger-wrapper', '.stagger-expand', {
        from: { width: '0%' },
        to: {
            duration: 0.8,
            width: '100%',
            stagger: 0.2,
            ease: 'power2.out',
            scrollTrigger: {
                start: 'top 90%',
                end: 'bottom top',
                toggleActions: 'play none none none'
            }
        }
    });

    // Animate .stagger-fade elements
    animateStaggerElements('.stagger-wrapper', '.stagger-fade', {
        from: { opacity: 0, y: 20 },
        to: {
            duration: 0.8,
            opacity: 1,
            y: 0,
            stagger: 0.2,
            ease: 'power2.out',
            scrollTrigger: {
                start: 'top bottom',
                end: 'bottom top',
                toggleActions: 'play none none none'
            }
        }
    });


    // =============================================================
    // GSAP – Animate Hero
    // =============================================================

    gsap.registerPlugin(ScrollTrigger, SplitText);

    document.querySelectorAll('.animate-hero').forEach(element => {
        let split = new SplitText(element, { type: 'chars' });

        let tl = gsap.timeline({
            paused: true, // Pause the timeline initially
            scrollTrigger: {
                trigger: element,
                start: 'top bottom',
                end: 'bottom top',
                onEnter: () => tl.play(), // Play the timeline when entering
                onLeave: () => tl.restart().pause(), // Reset and pause the timeline when leaving
                onEnterBack: () => tl.play(), // Play the timeline when entering from back
                onLeaveBack: () => tl.restart().pause(), // Reset and pause the timeline when leaving back
            }
        });

        tl.from(split.chars, {
            duration: 0.6,
            opacity: 0,
            y: 50,
            stagger: 0.05,
            ease: "power3.inOut",
        }).pause(); // Pause the timeline after setup
    });


    // =============================================================
    // GSAP – Trigger HeroAnimation
    // =============================================================


    function triggerSuccessAnimation() {
        document.querySelectorAll('.animate-success').forEach(element => {
            let split = new SplitText(element, { type: 'chars' });

            let tl = gsap.timeline({ paused: true });

            tl.from(split.chars, {
                duration: 0.6,
                opacity: 0,
                y: 50,
                stagger: 0.05,
                ease: "power3.inOut",
                delay: .5
            });

            // Play or restart the timeline
            if (tl.isActive()) {
                tl.restart();
            } else {
                tl.play();
            }
        });
    }

    // Example of how to call this function elsewhere in your code
    // triggerSuccessAnimation;


    // =============================================================
    // GSAP – Typewriter
    // =============================================================

    document.querySelectorAll('[animate="typewriter"]').forEach(element => {
        let text = element.textContent;
        let splitText = text.split('').map(char => `<span style="opacity: 0;">${char}</span>`).join('');
        element.innerHTML = splitText;
        const spans = element.querySelectorAll('span');

        const speed = element.getAttribute('speed') || '0.06';
        const repeat = element.getAttribute('repeat') !== 'false'; // Default is true

        let currentAnimation;
        let animationCompleted = false;

        // Function to reveal each character
        const revealChar = (index) => {
            if (index < spans.length) {
                currentAnimation = gsap.to(spans[index], {
                    opacity: 1,
                    duration: parseFloat(speed),
                    onComplete: () => revealChar(index + 1)
                });
            } else {
                animationCompleted = true;
            }
        };

        // Reset animation
        const resetAnimation = () => {
            if (currentAnimation) {
                currentAnimation.kill();
            }
            gsap.set(spans, { opacity: 0 });
            animationCompleted = false;
        };

        // ScrollTrigger to start and reset the animation
        ScrollTrigger.create({
            trigger: element,
            start: "top bottom",
            end: 'bottom top',
            onEnter: () => {
                if (!animationCompleted) {
                    revealChar(0);
                }
            },
            onEnterBack: () => {
                if (!animationCompleted) {
                    revealChar(0);
                }
            },
            onLeave: repeat ? resetAnimation : null,
            onLeaveBack: repeat ? resetAnimation : null
        });
    });



    // =======================================================
    // GSAP – Animate Numbers
    // =======================================================

    document.querySelectorAll('.animate-numbers').forEach(element => {
        let split = new SplitText(element, { type: 'chars' });

        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: element,
                start: 'top bottom',
                end: 'bottom top',
                toggleActions: 'play reset play reset', // Play only when entering from the top

            }
        });

        tl.from(split.chars, {
            duration: 0.8,
            opacity: 0,
            delay: .2,
            y: 50,
            stagger: 0.04,
            ease: "power3.inOut",
        })
    });

</script>







<script>

    // On click of '.form_submit-button-click1
    $('.form_submit-button-click1').on('click', function () {
        $('.contact_click-1').click();
        $('.form_submit-button-wrapper').removeClass('is-active');
        $('.form_submit-button-click1').css('display', 'none');
        $('.form_submit-button-click2').css('display', 'block');
    });

    // On click of '.form_submit-button-click2
    $('.form_submit-button-click2').on('click', function () {
        $('.contact_click-2').click();
        $('.form_submit-button-wrapper').removeClass('is-active');
        $('.form_submit-button-click2').css('display', 'none');
        $('.form_submit-button').css('pointer-events', 'auto');
        $('.form_checkbox-field').css('pointer-events', 'auto');
        $('.form_field.is-input').css('padding-top', '1rem');
    });


    function updateUIBasedOnInput() {
        var emailValue = $('#email').val().trim();
        var nameValue = $('#name').val().trim();
        var messageValue = $('#message').val().trim();

        if (emailValue !== '') {
            $('.form_submit-button-wrapper').addClass('is-active');
            $('.form_submit-button-click1').removeClass('pointer-events-off');
        } else {
            $('.form_submit-button-wrapper').removeClass('is-active');
            $('.form_submit-button-click1').addClass('pointer-events-off');
        }

        if (nameValue !== '') {
            $('.form_submit-button-click2').removeClass('pointer-events-off');
        } else {
            $('.form_submit-button-click2').addClass('pointer-events-off');
        }


        var isChecked = $('#checkbox').is(':checked'); // Initial state of the checkbox

        $('#checkbox').change(function () {
            isChecked = $(this).is(':checked'); // Update the boolean variable based on the checkbox state
        });


        if ($('.form_submit-button').css('pointer-events') === 'auto') {
            if (messageValue !== '' && isChecked) {
                $('.form_submit-button-wrapper').addClass('is-active');
            } else {
                $('.form_submit-button-wrapper').removeClass('is-active');
            }
        }

    }

    updateUIBasedOnInput();
    $('#email, #name, #message, #checkbox').on('input', updateUIBasedOnInput);




    $(document).ready(function () {
        // Listen for the submit event on the form with the id 'contact'
        $('#contact').on('submit', function (e) {
            // Prevent the default form submission behavior
            e.preventDefault();

            // Trigger a click on the element with the class 'contact_submit'
            $('.contact_submit').click();
            triggerSuccessAnimation();
        });
    });



        $(document).ready(function () {
          // Hide default Webflow success message
          $(".w-form-done, .w-form-fail").hide();
      
          // Intercept form submission
          $(".w-form").submit(function (e) {
              e.preventDefault(); // Prevent default form submission behavior
      
              // Add your custom logic here (e.g., send form data via AJAX)
              var form = $(this);
      
              // Simulate successful submission
              setTimeout(function () {
                  // Hide the form
                  form.hide();
      
                  // Show custom success animation/UI
                  $(".contact_submit-wrapper").fadeIn();
      
                  // Display success header
                  $(".contact_submit-header").fadeIn();
                  $(".contact_submit-wrapper").css("display", "block").animate({ opacity: 1 }, 500);
      
                  // Animate background (optional)
                  $(".contact_submit-background").animate({ height: "100%" }, 500);
      
                  // Animate Lottie animations upwards for both desktop and mobile
                  $(".contact_submit-lottie").each(function () {
                      $(this).animate({ bottom: '10px' }, 500); // Adjust the '100px' value as needed
                  });
      
              }, 500); // Adjust timeout as needed
          });
        });

      


    



</script>
{% endblock %}


<!-- Infectiom deases , oncologist & hemotologist , nefrologist , dibatic physions  -->